<!doctype html>
<html>
{{ template "head.html" .}}

<body>
{{ template "common.html" .}}

<a class="backIcon" href="/">
    <img class="backIcon" src="/assets/img/back.svg"/>
    Back
</a>
<div class="productPage">

    <div class="productPage__left">
        <img class="productPage__image" src="/assets/img/backlog_logo.svg" alt="Backlog">
        <h3 class="productPage__head-line">
            Project Management Tool
        </h3>
        <div class="productPage__description">
            Turn milestones into manageable tasks. Backlog is the quickest way to track projects, prioritize tasks, and
            collaborate on code with the team.
        </div>
        <hr class="productPage__divider"/>
        <div class="productPage__button">
            <a class="btn btn--backlog" href="https://backlog.com/pricing" target="_blank">Start tracking</a>
        </div>
    </div>

    <div class="productPage__right">
        <img src="/assets/img/backlog_screen_en@2x.png" alt="Backlog">

    </div>

</div>
</body>
</html>
