<!doctype html>
<html>
{{ template "head.html" .}}

<body>
{{ template "common.html" .}}

<a class="backIcon" href="/">
    <img class="backIcon" src="/assets/img/back.svg"/>
    Back
</a>
<div class="productPage -cacoo">

    <div class="productPage__left">
        <img class="productPage__image" src="/assets/img/cacoo_logo.svg" alt="cacoo">
        <h3 class="productPage__head-line">
            Cacoo | Create. Collaborate.
        </h3>
        <div class="productPage__description">
            Share plans, layouts, and work schedules instantly with team members in the same office or around the world. Create wireframes, flowcharts, org charts, mind maps, and more with Cacoo.
        </div>
        <hr class="productPage__divider"/>
        <div class="productPage__button">
            <a class="btn btn--cacoo" href="https://cacoo.com/pricing" target="_blank">Start diagramming</a>
        </div>
    </div>

    <div class="productPage__right">
        <img src="/assets/img/cacoo_screen_en@2x.png" alt="cacoo">

    </div>

</div>
</body>
</html>
