<!doctype html>
<html>
{{ template "head.html" .}}

<body>
{{ template "common.html" .}}
</body>

<div class="products">
    <div class="product">
        <img class="product__image" src="/assets/img/backlog_logo.svg" alt="Backlog">
        <h3 class="product__head-line">
            Project Management Tool
        </h3>
        <div class="product__description">
            Turn milestones into manageable tasks. Backlog is the quickest way to track projects, prioritize tasks, and collaborate on code with the team.
        </div>
        <div class="product__button">
            <a class="btn btn--backlog" href="/product/backlog">Learn More</a>
        </div>
    </div>

    <div class="product">
        <img class="product__image" src="/assets/img/cacoo_logo.svg" alt="Cacoo">
        <h3 class="product__head-line">
            Online Diagram Software
        </h3>
        <div class="product__description">
            Over 2 million users count on Cacoo for creating wireframes, flowcharts, venn diagrams, mind maps, and more. Create and share ideas, together.
        </div>
        <div class="product__button">
            <a class="btn btn--cacoo" href="/product/cacoo">Learn More</a>
        </div>
    </div>

    <div class="product">
        <img class="product__image" src="/assets/img/typetalk_logo.svg" alt="Typetalk">
        <h3 class="product__head-line">
            Team Chat App
        </h3>
        <div class="product__description">
            Get answers faster through real-time communication. Typetalk provides teams with an open platform for sharing information and files securely.
        </div>
        <div class="product__button">
            <a class="btn btn--typetalk" href="/product/typetalk">Learn More</a>
        </div>
    </div>
</div>

</html>
